.page-content__tech{
	margin: 170px auto 50px;
	max-width: 773px;
	background: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 40px 0 48px;
	text-align: center;
}

.page-content__tech .section-sign p{
	font-family: 'Graphik_Bold';
	font-weight: 700;
	font-size: 120px;
	line-height: 120px;
	color: #000000;
	margin-bottom: 8px;
}

.page-content__tech .section-title h1{
	font-family: 'Opensans_Bold';
	font-weight: 700;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: #000000;
	margin-bottom: 48px;
}

.page-content__tech .section-text{
	text-align: center;
}

.page-content__tech .section-text p{
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #525252;
	margin: 40px auto 43px;
	max-width: 475px;
}

.page-content__tech .section-btn .btn{
	min-width: 239px;
    padding: 11px 36px 13px;
    background-color: #fff;
    border: 1px #27AFE4 solid;
    border-radius: 5px;
    font-family: 'Opensans_Semibold';
    font-size: 16px;
    color: #27AFE4;
    max-height: 50px;
}

.page-content__tech .section-btn .btn:hover{
	color: #8860D0;
	border-color: #8860D0;
}

.page-maintenance.page-content__tech{
	padding-top: 78px;
	padding-bottom: 88px;
}

.page-maintenance.page-content__tech .section-title h1{
	margin-bottom: 0;
}

.page-maintenance.page-content__tech .section-text p{
	margin: 56px auto 64px;
}

main.page-content .row>div img{
	max-width: 100%;
}

.not-found--mobile{
	display: none;
}

@media(max-width: 991px){
	main.page-content .row>div{
		padding: 0;
	}

	.page-content__tech{
		padding-left: 12px;
		padding-right: 12px;
	}

	main.page-content{
		padding: 0 32px !important;
	}

	.page-content__tech .section-title h1{
		margin: 0 auto 48px;
	}
}

@media(max-width: 767px){

	.page-content__tech{
		box-shadow: none;
	}

	.page-content__tech{
		margin: 120px auto 0px;
	}

	main.page-content .row>div.section-img img{
	    max-width: 773px;
	    height: 53px;
	    width: 773px;
	    transform: translateX(calc(-50% + 50vw));
	}

	main.page-content .row>div.section-img{
	    height: 53px;
	    overflow: hidden;
	    text-align: center;
	    position: relative;
	}

	main.page-content{
		padding: 0 !important;
	}

	.page-content__tech .section-sign p {
	    font-size: 92px;
	    line-height: 92px;
	    margin-bottom: 10px;
	}

	.page-content__tech .section-title h1 {
	    font-size: 20px;
	    line-height: 20px;
	}

	.page-content__tech.page-maintenance .section-title h1 {
	    font-size: 24px;
	    line-height: 28px;
	}

	.page-content__tech .section-text p {
	    font-size: 14px;
	    line-height: 18px;
	    max-width: 295px;
	}

	.not-found--desktop{
		display: none;
	}

	.not-found--mobile{
		display: block;
	}

	.page-maintenance.page-content__tech .section-text p {
	    margin: 40px auto 40px;
	}

	.page-content__tech .section-btn .btn{
		background-color: #68CCF3;
		border: 1px #68CCF3 solid;
		color: #fff;
	}

	.page-content__tech .section-btn .btn:hover{
		background-color: #B6B5FB;
		border: 1px #B6B5FB solid;
		color: #fff;
	}
}